/* body{
    background-color: rgb(255, 120, 140);
} */


.navbar{
    height: 5rem;
    background-color: white;

}
.fa-compass {
    color: rgb(226, 29, 29);
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}